html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 2px dashed teal;
  padding: 10px;
  border-radius: 20px;
  cursor: none;
}
.mouse {
  width: 70px;
  height: 70px;
  position: absolute;
  left: var(--mouse-x);
  top: var(--mouse-y);
  background-image: url("http://www.clker.com/cliparts/c/b/b/e/11954217511527806368hammer_david_benjamin_01.svg.thumb.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.05s ease-in-out;
  transform: rotate3d(0, 1, 0, -180deg) translate(20px, -20px) scale(1);
  z-index: 1;
  /* Fix for z-index */
  pointer-events: none;
}
.clicked {
  transform: rotate3d(0, 1, 0, -180deg) rotate(70deg) scale(1.5);
}
.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;

  bottom: -30px;
}

.mole {
  background: url("mole.svg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.hole.up .mole {
  top: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0;
}
.name-form {
  display: flex;
  align-items: center;
}
.name-form label {
  font-weight: bold;
  font-size: 24px;
  margin-right: 5px;
}
.name-form #name {
  height: 25px;
  text-transform: capitalize;
  caret-color: orange;
  font-size: 16px;
}
.name-form #name:focus {
  outline: thin;
}
.start {
  margin-left: 20px;
  padding: 0 10px;
  color: floralwhite;
  background-color: teal;
  border: none;
  transition: 0.2s ease;
}
.start:hover {
  cursor: pointer;
  background-color: green;
}
.start-long {
  margin-left: 20px;
  padding: 0 10px;
  color: floralwhite;
  background-color: darkmagenta;
  border: none;
  transition: 0.2s ease;
}
.start-long:hover {
  cursor: pointer;
  background-color: crimson;
}

.required {
  border: 3px solid red;
}
.highscore-btn {
  margin-left: 20px;
  background-color: crimson;
  color: white;
  border: none;
  transition: 0.2s ease-in;
}
.highscore-btn:hover {
  background-color: tomato;
  cursor: pointer;
}
.close-highscore {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 35%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: 0.2s ease;
}
.close-highscore:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.close-highscore .line {
  height: 3px;
  width: 100%;
  background-color: teal;
}
.line.line--1 {
  transform: rotate(45deg) translateY(3px);
}
.line.line--2 {
  transform: rotate(-45deg) translate(4px, -7px);
}
.highscore-wrap {
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
  position: relative;
}
.isActive-highscore {
  opacity: 1;
  pointer-events: all;
}
.highscore-wrap .title {
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 10px;
}
.highscore-list {
  padding: 0;
}
.highscore-list li {
  list-style-type: none;
  font-weight: bold;
  font-size: 22px;
}

.time-left-wrap {
  text-align: center;
  font-size: 26px;
  color: crimson;
  font-weight: bold;
}
